<div class="head_content">
  <div class="col-md-10 col-sm-12">
    <p>Todos los Proveedores</p>
  </div>
  <div class="col-md-2 col-sm-12">
    <%= link_to 'Agregar', new_provider_path, remote: true, :class => 'btn btn-primary add_btn' %>
  </div>
</div>

<div class="contenedor">
  <table class="table table-sm  table-hover" id="tabla-datos">      

      <tr class="bg-success">
        <th>Nombre</th>
        <th>Rut</th>
        <th>Razon social</th>
        <th>Direccion</th>
        <th>Email</th>
        <th >Giro</th>
        <th >Fono</th>
      </tr>


    <tbody>
      <% @providers.each do |provider| %>
        <%= render "row", provider: provider %>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to 'Inicio', root_path, class: 'btn btn-primary' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#tabla-datos").dataTable({
      "lengthChange": false,
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
      },
      "pageLength": 5
    });
  });
</script>
