<p>
  <strong>Fecha:</strong>
  <%= @reservation.fecha_reserva %>
</p>


 
<%= link_to 'Edit hora reserva', edit_reservation_path(@provider) %> |
<%= link_to 'Back to horas de reserva', reservations_path %>