<h1>productos</h1>
<div class="head_content">
  <div class="col-md-10 col-sm-12">
    
  </div>
  <div class="col-md-2 col-sm-12">
    <%= link_to 'Agregar', new_product_path, remote: true, :class => 'btn btn-primary add_btn' %>
  </div>
</div>

<div class="contenedor">
  <div class="contenedor">
    <% if @products.length > 0 %>
      <% @products.each do |product| %>
        <%= render "row", product: product %>
      <% end %>
    <% end %>
  </div>
</div>


 <div class="col-sm-1">
    <%= link_to 'Home', root_path, :class => 'btn btn-primary' %>
  </div>


<script type="text/javascript">
  $(document).ready(function() {
    $("#tabla-datos").dataTable({
      "lengthChange": false,
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
      },
      "pageLength": 5
    });
  });
</script>
