<p>Hola <%= @resource.email %>!</p>

<p>Puedes cambiar tu contraseña en el link de abajo.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>